---
apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: admin
  MONGO_INITDB_ROOT_PASSWORD: s3cretPass123   # change this for real usage

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-config
data:
  # example: you can add mongod.conf content or environment overrides
  MONGO_EXTRA_ARGS: "--bind_ip_all"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
