# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Virtual environment
.env/
.venv/

# Node
node_modules/

# Others
*.sqlite3
*.db
*.bak
*.tmp