apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
      - name: product
        image: product-service:latest
        ports:
        - containerPort: 3001
        envFrom:
        - configMapRef:
            name: app-config  # Injects DATABASE_URL
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  selector:
    app: product
  ports:
  - port: 3001
    targetPort: 3001
  type: ClusterIP
