apiVersion: apps/v1
kind: Deployment
metadata:
  name: httpd
  namespace: exp9
spec:
  replicas: 1
  selector:
    matchLabels:
      app: httpd
  template:
    metadata:
      labels:
        app: httpd
    spec:
      containers:
      - name: httpd
        image: httpd:2.4
        ports:
        - containerPort: 80
        volumeMounts:
        - name: httpd-content
          mountPath: /usr/local/apache2/htdocs
      volumes:
      - name: httpd-content
        configMap:
          name: httpd-content
          items:
          - key: index.html
            path: index.html
